.recipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    border: 5px solid dodgerblue;
    color: rgb(0, 46, 92);
}

h3 {
    text-decoration-line: underline;
}

.img {
    width: 250px;
    border: 5px solid rgb(0, 46, 92);
}